.card{
    max-width: 1083px;
    border: 1px solid black;
    border-radius: 8px;
    margin-left: 56px;
}

.card .card-header{
    display: flex;
    flex-direction: row;
    gap: 14px;
    padding: 9px;
    align-items: center;
    border-bottom: 1px solid black;
}

.card-header img{
    width: 31px;
    height: 28px;
}

.card-header h2{
    font-size: 16px;
}