.mail-out-page {
  margin-left: 20px;
  margin-top: 20px;
  width: 160vh;
}

.mail-out-page .header-component {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header-component .action-btn {
  display: flex;
  gap: 10px;
}

.header-component .header-title {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header-title .mail-icon{
    width: 25px;
    height: 25px;
}

.header-title .title-text {
  font-weight: 600;
}

.action-btn .add-btn {
  background-color: #1dc82b;
  padding: 5px;
  width: 100px;
  color: white;
  border: none;
  height: 35px;
  border-radius: 8px;
}
.action-btn .delete-btn {
  background-color: #ff0202;
  padding: 5px;
  width: 100px;
  color: white;
  border: none;
  height: 35px;
  border-radius: 8px;
}

.mail-out-page .card {
  margin-top: 15px;
  width: 100%;
  padding-top: 15px;
  
  border: 1px solid black;
  border-radius: 8px;
}

.card .card-header {
  margin-left: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.card-header .filter {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0px 0px 1px black;
  background-color: transparent;
}

.filter .filter-icon {
  width: 20px;
  height: 20px;
}

.card-header .search-input {
  width: 300px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid black;
}

.card .card-body {
  margin-top: 20px;
}

.card .card-body .table {
  width: 100%;
  border: 1px solid black;
}

.table-header tr {
  text-align: center;
}

 .table-header tr th {
  border: 1px solid black;
  padding: 5px;
}

.table tbody {
  text-align: center;
}

.table tbody tr td {
  border: 1px solid black;
  padding-bottom: 5px;
  padding-top: 5px;
}
.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tbody tr td .no-surat {
  margin-left: 50px;
  padding-left: 25px;
  padding-right: 25px;
  color: white;
  background-color: #7aff00;
  border-radius: 12px;
  border: none;
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.no-surat .check-icon {
  width: 15px;
  height: 15px;
}

tr td .eye-btn {
  border: none;
  background-color: transparent;
}

.table tbody tr td .eye-icon {
  width: 25px;
  height: 20px;
}
tr td .print-btn {
  border: none;
  background-color: transparent;
}

.table tbody tr td .print-icon {
  width: 20px;
  height: 20px;
}
